

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Cocktail <%= @cocktail.name %></h1>
      <h4>Composition</h4>
    </div>
  </div>
  <% @cocktail.doses.each do |dose| %>
  <div class="row">
    <div class="col-sm-4">
      <%= dose.description %>
    </div>
    <div class="col-sm-4">
      <%=dose.ingredient.name%>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Delete', dose_path(dose) , method: 'delete' %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to("Back", cocktails_path, html_options = {class: "btn btn-info"}) %>
    </div>
    <div class="col-sm-6">
      <%= link_to("Add a composition", new_cocktail_dose_path(@cocktail.id), html_options = {class: "btn btn-primary"}) %>
    </div>
</div>
