<h1>Cocktail <%= @cocktail.name %></h1>


<table>
  <thead>
    <tr>
      <th>Composition</th>
    </tr>
  </thead>
  <tbody>
    <% @cocktail.doses.each do |dose| %>
      <tr>
        <td>
          <%= dose.description %>
        </td>
        <td>
          <%=dose.ingredient.name%>
        </td>
        <td>
          <%= link_to 'Delete', dose_path(dose) , method: 'delete' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("Back", cocktails_path, html_options = {class: "btn btn-info"}) %>
<%= link_to("Add a composition", new_cocktail_dose_path(@cocktail.id), html_options = {class: "btn btn-primary"}) %>

